html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d5d5d5;
  text-align: center;
}

body.drawing > #drawing, body.generator > #generator {
  display: block;
}

body.drawing > #generator, body.generator > #drawing {
  display: none;
}

#drawing {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: white;
  position: absolute;
}

#generator {
  padding-top: 10px;
}

#generator-next {
  margin: 10px;
}
