html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #d5d5d5;
}

#drawing {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  background-color: white;
  position: absolute;
}
